//Added for stretch challenge
$hover-color: #f1cf48;
@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  @include center;
  height: 400px;
  width: 100%;
  background-color: $hover-color;
  background-image: url("../images/asfalt-dark.png");
  margin-top: 80px;
}

header div{
  background-color: $hover-color;
  color: white;
  background-image: url("../images/asfalt-dark.png");
}

header h2 {
  margin: 0;
}