header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:#f1cf48;
  background-image: url("../images/asfalt-dark.png");
  margin-top: 80px;
}

header div{
  background-color:#f1cf48;
  color: white;
  background-image: url("../images/asfalt-dark.png");
}

header h2 {
  margin: 0;
}