 /* Laptops / Desktops: minimum width of 1024px */
 @media screen and (min-width: 1024px) {
  .profile-pic{
     width: 30%;
     margin-top: 0px;
  }

  .container{
    width: 55%;
    margin-top: 200px;
    margin-right: 50px;
  }
  
  #profile-container{
    margin-top: 200px;
    margin-left: 50px;
  }

  .media-desktop{
    display: flex;
    flex-direction: row;
  }
  
}
