nav {
  display:flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.navlogo{
  font-family: Bungee, sans-serif;
}

.fa-angles-down{
  color:red;
}

.new-tweet{
  display:flex;
  flex-direction: column;
  background-color: #4056A1;
  border: none;
  color: white;
  align-items: center;
  padding-top: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

.fa-bounce{
  --fa-animation-duration: 3s;
}

nav span{
  margin-bottom: 10px;
}

.new-tweet:hover{
  color:aqua;
}