nav {
  display:flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.navlogo{
  font-family: Bungee, sans-serif;
}

.fa-sharp{
  color:red;
}

.newtweet{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}