.container{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

footer{
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: white;
  border: none;
  font-family: Bungee, sans-serif;
}

textarea{
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  align-self: center;
  width: 100%;
  resize: none;
  overflow: auto;
}

textarea:focus{
  outline: none;
}

article img{
  width: 5em;
}

.new-tweet-section{
  margin-bottom: 50px;
}

.tweet-text{
  border-bottom: 2px solid #000000;
}

.profile-pic{
  display:flex;
  align-items: center;;
}

.profile-name{
  margin-left: 10px;
}

.tweet-text{
  padding-bottom: 40px;
}

footer .fa-solid:hover{
  color:#4056A1;
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

.days p{
  margin-top: 0;
}

.tweet-text{
  margin-bottom: 10px;
}

.error-style{
  border: 2px solid crimson ;
  color:crimson;
  margin-bottom: 60px;
  font-size: 1.1em;
  padding: 0.5em;
}